/* query for largest screen */
.footer-container {
  display: none;
  background: FFCD92;
}

.footer-container {
  position: relative;
  color: #b2b2b2;
  display: block;
  z-index: ;
  background: #FFCD92;
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  border-bottom: 1px solid #212121;
  box-shadow: 1px 0 20px var(--secondary-color);
}

.footer-copyright {
  position: relative;
  color: #b2b2b2;
  display: block;
  z-index: 3;
  background: var(--footer-color);
  max-width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  overflow: auto;
  border-bottom: 1px solid #212121;
  box-shadow: 1px 0 20px var(--secondary-color);
}

.footer-cols {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  font-family: var(--montserrat);
  font-size: 0.7rem;
  font-weight: 300;
}

.footer-cols-head {
  color: rgb(243, 243, 243);
  font-family: var(--montserrat);
}

.footer-cols li {
  line-height: 1.2rem;
}

.footer-copy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.footer-copy-copy {
  font-size: 0.75em;
  font-family: var(--openSans);
  text-transform: uppercase;
  letter-spacing: 0.1em;
}