@charset "utf-8";

:root {
  /* COLORS */
  --primary-back: #ffffff;
  --menu: #000000;
  --header-back: #fee5e9;
  --secondary-back: #121912;
  --footer-back: #333333;
  --primary-font-color: #000000;
  /* FONTS-FAMILIES */
  --courier: "Courier Prime", monospace;
  --lato: "Lato", sans-serif;
  --montserrat: "Montserrat", sans-serif;
  --openSans: "Open Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  --robotoCondensed: "Roboto Condensed", sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
body {
  background-color: #f3f3f3;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

div {
  display: block;
}
/* header */
.header {
  display: block;
  position: fixed;
  justify-content: center;
  top: 0;
  width: 100%;
  /* height: 20px; */
  z-index: 10;
  /* border: 1px solid black; */
  box-shadow: 1px 3px 12px rgba(2, 0, 0, 0.5);
}

/* menu */
.menu-wrap {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  /* border: 1px solid black; */
}

.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  /* margin-top: 0.8rem; */
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid rgb(139, 52, 52); */
}
.menu-btn__burger {
  width: 17px;
  height: 2px;
  background: #000000;
  border-radius: 40%;
  box-shadow: 0 2px 5px var(--header-back);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 17px;
  height: 2px;
  background: #000000;
  border-radius: 40%;
  box-shadow: 0 2px 5px var(--header-back);
  transition: all 0.5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-8px);
}
.menu-btn__burger::after {
  transform: translateY(8px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.header .header-upper {
  background: var(--primary-back);
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  /* padding: 4px 2.85rem 0; */
  align-items: center;
}

.header-announce {
  margin-top: 60px;
  width: 100%;
  display: block;
  text-align: center;
  background-color: #ffcd92;
  font-family: var(--robotoCondensed);
  font-size: 1rem;
  padding: 10px 0;
}

.header-announce p {
  text-transform: uppercase;
}
.header-announce p span {
  color: blue;
  padding-right: 5px;
}

.header-logo {
  /* background-color: #F95EF7; */
  display: block;
  justify-content: center;
  align-items: center;
  position: relative;
  text-decoration: none;
  width: 100%;
  height: 50px;
  /* z-index: 20; */
}

.logo-bibisbeaute {
  display: flex;
  background: url(/img/bibisbeaute-logo1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 30px;
  margin-top: 9px;
  transition: filter 1s ease-in-out;
  transition-delay: 0.3s;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

/* img {
} */

.logo-bibisbeaute:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}

/* .icon-bibisbeaute:hover {
  color: rgb(218, 183, 183);
  transition: 1s ease-in-out;
  transform: 0.5s;
} */

.container {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fcfcfc;
  justify-content: center;
  align-items: center;
}
.box {
  width: 350px;
  /* height: 610px; */
  /* border-radius: 10px; */
  box-shadow: 1px 3px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: space-around; */

  box-sizing: border-box;
  margin: 20px 10px;
}
.model {
  display: block;
  height: 350px;
  max-height: 100%;
  max-width: 100%;
  padding: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}

.news-item-title {
  padding-top: 1rem;
  margin-bottom: 0.8125rem;
  font-family: "Great Vibes", cursive;
  font-size: 2.3rem;
  /* line-height: 2rem; */
  color: black;
  text-transform: capitalize;
}

.static-button {
  width: 100%;
  font-size: 0.9375rem;
  margin-top: auto;
  margin-bottom: 10px;
  font-family: Montserrat;
  border: 1px solid black;
}

.news-item-title .static-button .button-link {
  align-self: center;
}

.button-link {
  color: #000000;
  /* border: 1px solid no; */
  /* background-color: #d88f8f; */
}

.button-link-content {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-bottom: 20px; */
}

.button-link__title {
  padding: 5px 10px;
}

/* footer */
.footer-container {
  position: relative;
  display: grid;
  max-width: 100%;
  background: #f95ef7;
  font-family: var(--montserrat);
  font-size: 1rem;
}

.footer-container > .row {
  display: block;
  margin-right: 10px;
  margin-left: 10px;
  max-width: 95%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer-cols {
  grid-template-columns: 2fr;
  /* font-size: 0.75em; */
  letter-spacing: 1px;
  line-height: 1.2;
}

.footer-cols-head {
  color: rgb(0, 0, 0);
  font-family: var(--montserrat);
  font-weight: 700;
  margin-top: 10px;
}

.footer-copyright {
  display: block;
  max-width: 100%;
  color: #747474;
  background: #f95ef7;
  font-family: var(--montserrat);
  font-weight: 400;
  font-size: 0.9rem;
  overflow: hidden;
}

.footer-copy {
  /* display: block; */
  max-width: 95%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  margin-top: 10px;
}

.footer-copy-copy {
  /* display: block; */
  max-width: 100%;
}

.footer-copy-copy a {
  font-size: 0.9em;
  /* font-weight: 600; */
}

.social-icons {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.social-icons li {
  display: inline-block;
  margin-right: 25px;
  font-size: 1.7rem;
}

.social-icons li a i {
  color: var(--other-color);
}

.social-icons li a i:hover {
  display: inline-block;
  color: rgb(214, 216, 120);
  transition-delay: 0.3s;
  transition: ease-in-out 0.5s;
}

.social-icons .mobile-wa {
  display: none;
}

.social-icons li a {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #000000;
  padding: 20px;
}

.social-icons li a:hover {
  background-color: #636363;
  transition-delay: 0.5s;
  transition-duration: 1s;
}

.footer-cols .social-icons a:link,
.footer-cols .social-icons a:visited {
  text-decoration: none;
  color: #000000;
}

/* date */
.date-container {
  display: grid;
  margin-top: 40px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  font-family: var(--lato);
  font-size: 1.3rem;
}

#day-js {
  display: flex;
  justify-content: center;
  align-items: center;
}

#month-js {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 0.8px solid #000000; */
  width: 60px;
}

#gele {
  display: block;
  background: url("/img/banner/gele.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 300px;
  margin-bottom: 50px;
}

#eyebrow {
  margin-bottom: 50px;
}

#eyelash {
  display: block;
  background: url("/img/banner/eyelash-ext-canvas.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 300px;
  margin-bottom: 50px;
}

#training {
  position: relative;
  background: url("/img/banner/training-coming-soon.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: auto;
  height: 300px;
  margin-bottom: 20px;
   box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.49);
}

#eyebrow {
   box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.49);
}

#makeover {
  position: relative;
  /* display: block;
  justify-content: center;
  align-items: center; */
  /* grid-template-columns: repeat(5, 1fr); */
}

.makeover {
  position: relative;
  width: auto;
}

.gallery {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.gallery a.big-one {
  position: relative;
  max-width: 100%;
}

.gallery a {
  box-shadow: 0px 8px 12px 1px rgba(0, 0, 0, 0.49);
  position: relative;
  max-width: 50%;
  float: left;
  overflow: hidden;
  background-color: #000000;
}

.gallery img {
  opacity: 0.7;
  position: relative;
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
  transform: scale(1.05);
}

.gallery img:hover {
  opacity: 1;
  transform: scale(1);
  transition: transform .35s ease-in;
}

/* .makeover-photo {
  height: 200px;
} */

/* .makeover-photo img {
  height: 100%;
} */

.social-icons .desk-wa {
  display: none;
}

.social-icons .mobile-wa {
  display: block;
}

/* input */
form {
  display: grid;
  font-family: var(--robotoCondensed);
}
form input {
  width: 250px;
  padding: 5px;
  border: 1px solid rgb(218, 218, 218);
  margin-left: auto;
  margin-right: auto;
}

form div {
  margin-bottom: 5px;
}
.service {
  display: grid;
  justify-content: center;
  align-items: center;
  /* display: block; */
  /* padding: 0; */
}
.service input {
  width: 20px;
  display: inline-block;
  padding-bottom: 5px;
}
/* form:before,
form:after {
  box-sizing: border-box;
} */
input {
  display: block;
  font-family: var(--robotoCondensed);
  /* float: right; */
}

label {
  display: inline;
  /* float: right; */
}
.form-field {
  margin: 0 0 1rem 0;
}

form h4 {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.clearing {
  clear: both;
  margin-bottom: 50px;
}
